* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
     scroll-behavior: smooth;
}

@font-face {
    font-family: "Junicode";
    src: url(font/junicode.regular.ttf);
}

body {
    padding-top: 80px;
    background: #252525;
    color: white;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #252525;
}

.logo {
    font-family: 'Bricolage Grotesque';
    font-size: 24px;
    font-weight: 600;
    width: 97px;
    height: 29px;
    top: 29px;
    left: 50px;
}

.logo span {
    color: #F76F53;
}

.nav-links {
    display: flex;
    gap: 22px;
}

.nav-links a {
    font-family: 'Bricolage Grotesque';
    color: #BABABA;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    width: 120px;
    height: 22px;
    top: 32px;
    left: 256px;
}

.nav-action {
    display: flex;
    align-items: center;
    gap: 12px;
}

button {
    cursor: pointer;
    border: none;
    padding: 8px 18px;
    border-radius: 10px;
    font-size: 14px;
}

.theme-btn {
    background: none;
    width: 50px;
    height: 45px; 
    top: 27px;
    left: 974px;
}

.btn-si {
    background: transparent;
    border: 1px solid #D1CFC0;
    border-radius: 10px;
    color: #D1CFC0;
    font-family: 'Bricolage Grotesque';
    font-weight: 600;
    font-size: 14px;
    width: 91px;
    height: 46px;
    top: 17px;
    left: 1020px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    gap: 12px;
}

.btn-su {
    background: #F76F53;
    color: white;
    font-family: 'Bricolage Grotesque';
    font-weight: 600;
    font-size: 14px;
    width: 91px;
    height: 46px;
    top: 17px;
    left: 1020x;
    border-radius: 10px;
    border: 1px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    gap: 12px
}

.hero {
    position: relative;
    background: #252525;
    width: 1280px;
    height: 634px;
    display: flex;
    justify-content: space-between;
    padding: 80px 60px;
}

.left-shape {
    position: absolute;
    top: -5px;
    left: -30px;
    width: 473px;
    height: 334px;
    z-index: 1;
}
.hero-left {
    max-width: 500px;
}

.tag {
    color: #838383;
    border: 1px solid #838383;
    border-radius: 32px;
    padding: 5px 15px;
    width: fit-content;
    border-radius: 20px;
    margin-bottom: 20px;
    font-family: 'Bricolage Grotesque';
    font-size: 20px;
    font-weight: 500;
}

.tag-image {
    width: 22px;
    height: 18px;
    top: 3px;
    left: 1px;
    
}

.hero-left h2 {
    color: #EDEDED;
    font-family: 'Bricolage Grotesque';
    font-size: 40px;
    width: 290px;
    height: 58px;
    top: 204px;
    left: 55px;
    font-weight: 600;
    margin-bottom: 5px;
}

.hero-left h1 {
    font-family: 'Bricolage Grotesque';
    font-size: 128px;
    width: 548px;
    height: 154px;
    top: 241px;
    left: 50px;
    font-weight: 600;
}

.hero-left h1 span {
    font-family: 'Bricolage Grotesque';
    color: #F76F53;
}

.desc {
    margin: 10px 0 30px;
    font-family: 'Bricolage Grotesque';
    font-size: 28px;
    width: 999px;
    height: 40px;
    top: 376px;
    left: 61px;
    font-weight: 400;
    color: #EDEDED;
}

.hero-button {
    display: flex;
    gap: 15px;
}

.btn-image {
    width: 12.1px;
    height: 12.1px;
    border: 2px;
}

.btn-gs {
    background: #F76F53;
    color: white;
    font-family: 'Bricolage Grotesque';
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    align-items: center;
    gap: 24px;
}

.btn-ma {
    background: transparent;
    border: 1px solid #D1CFC0;
    border-radius: 10px;
    color: #D1CFC0;
    font-family: 'Bricolage Grotesque';
    font-weight: 600;
    font-size: 18px;
    padding: 12px 24px;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    align-items: center;
    gap: 24px;
}

.hero-right {
    position: relatives;
    z-index: 2;
}

.hero-image {
    width: 392px;
    height: 359px;
    border-radius: 100px;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    overflow: hidden;
    object-fit: cover;
    
}

.logo-ka {
    position: absolute;
    width: 113.69px;
    height: 51.41px;
    top: 253px;
    left: 1015.05px;
    z-index: 20;
}    

.logo-ki {
    position: absolute;
    width: 99.24px;
    height: 50.22px;
    top: 293.68px;
    left: 942px;
    z-index: 20;
}
.about {
    width: 100%;
    height: auto;
    padding: 80px 0;
    background: #252525;
    text-align: center;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.about-content {
    max-width: 650px;
    margin: auto;
    position: relative;
    z-index: 2;
}

.about-title {
    font-family: 'Bricolage Grotesque';
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.about-title span {
    font-family: "Junicode";
    font-style: italic;
    color: #F76F53;
    font-weight: 400;
}

.about-desc {
    margin: 20px 0 40px;
    color: #FFFFFF;
    width: 651px;
    height: 216px;
    top: 164px;
    left: 315px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    text-align: center;
}

.about-stats {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 40px;
}

.stat h3 {
    font-size: 36px;
    font-weight: 700px;
    color: #F76F53;
}

.stat p {
    margin-top: 5px;
    font-size: 16px;
    color: #EDEDED;
}

.about-btn {
    font-family: 'Bricolage Grotesque';
    padding: 12px 26px;
    background: #F76F53;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 8px;
}

.about-btn img {
    width: 12.1px;
    height: 12.1px;
    transform: rotate(45deg);
}

.about-left-shape,
.about-right-shape {
    position: absolute;
    z-index: 1;
}

.about-left-shape {
    left: 0;
    bottom: 0;
    width: 500px;
}

.about-right-shape {
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    transform: rotate(90deg);
    transform: scaleX(-1);
    z-index: 1;
}

.features {
    width: 100%;
    padding: 80px 0;
    background: #252525;
}

.features-title {
    font-family: 'Bricolage Grotesque';
    font-size: 48px;
    margin-bottom: 40px;
    font-weight: 400;
    text-align: center;
    display: block;
    width: 100%;
}

.features-title span {
    font-family: 'Bricolage Grotesque';
    color: #F76F53;
    font-weight: 500;
}

.features-grid {
    width: 100%;
    max-width: 1178px;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.feature-card {
    position: relative;
    background: #D9D9D94D;
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
    width: 380px;
    height: auto;
}

.feature-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: 0;
}

.feature-card p {
    padding: 10px 15px;
    color: #FFFFFF;
    font-family: 'Bricolage Grotesque';
    font-size: 32px;
    font-weight: 400;
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 2;
}

.feature-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.9), transparent 60%);
    z-index: 1;
}

.hidden {
    display: none;
}

.features-btn {
    display: block;
    margin: 35px auto 0 auto;
    margin-top: 35px;
    padding: 12px 26px;
    font-family: 'Bricolage Grotesque';
    font-size: 16px;
    border: none;
    background: #F76F53;
    color: white;
    border-radius: 8px;
    position: relative;
    z-index: 10;
}